*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}
html,body{
    height: 100%;
    
}
body{
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.div2{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.header{
    background-color: aqua;
}
.nav{
    background-color: brown;
}
.item2{
    
    display: grid;
    grid-template-rows: 6fr 1fr;
}
.Content{
    background-color: blue;
}
h1{
    
    justify-self: center;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
p{
    padding-left: 20px;
}
img{
    padding-left: 20px;
}
.Footer{
    background-color: green;
}